[Desktop Entry]
Type=Application
Name=RoomBookerDisplay
Version=1.0
Exec=RoomBookerDisplay
Icon=icon
Comment=The Room Booker Display
Categories=Utility;
Terminal=false